<%- include('partiels/header.ejs') %>
  <!--  -->
  <div class="main">
    <%- include('partiels/nav.ejs') %>
    <!--  -->
    <%- include('partiels/profile.ejs') %>
    <!-- #about -->
    <%- include('partiels/about.ejs') %>
    <!-- #experience -->
    <%- include('partiels/experience.ejs') %>
    <!-- #project -->
    <%- include('partiels/project.ejs') %>
    <!-- #contact -->
    <%- include('partiels/contact.ejs') %>
    <!--  -->
    <%- include('partiels/btm-footer.ejs') %>

  </div>




  <%- include('partiels/footer.ejs') %>